[submodule "externalPackages/zlib"]
	path = externalPackages/zlib
	url = https://github.com/madler/zlib.git
[submodule "externalPackages/netcdf-c"]
	path = externalPackages/netcdf-c
	url = https://github.com/Unidata/netcdf-c.git
[submodule "externalPackages/netcfd-fortran"]
	path = externalPackages/netcdf-fortran
	url = https://github.com/Unidata/netcdf-fortran.git
[submodule "externalPackages/hdf5"]
	path = externalPackages/hdf5
	url = https://github.com/live-clones/hdf5.git
