extern/hypre/src/
extern/hypre/build/
extern/hypre/installed/
build/
*.o
*.mod
*.f90
*.avi
*.mp4
*.ini
*.mexa64
.DS_Store
examples_FD/*/plots/
examples_FD/*/results/
examples_FD/*/full_dispersion
examples_FD/*/mk_initial
examples_FD/**/vessel_00001
examples_FD/**/time0.dat
examples_FD/**/LOG*.txt
docs/_build/
docs/images/*.pptx
docs/images/**/*.pdf
examples_FD/**/plots/
examples_FD/**/tmp
